@model OptiNorthDemo.Features.Blocks.RichText.RichTextBlock

<div class="rich-text">
    <div class="container">
        <div class="rich-text__inner">
            @Html.PropertyFor(x => x.Content)
        </div>
    </div>
</div>